<h1>A long time ago, in a galaxy far, far away...</h1>
<ul>
  <% @starwars.each do |sw| %>
  <li><%= sw.teamwork %></li>
  <li><%= sw.adventure %></li>
  <li><%= sw.lines %></li>
  <br>
  <% end %>
</ul>
